body {
    margin: 0;
    background-color: #80bcbd;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: right;
    background-color: #88c4c5;
}

nav a {
    font-style: italic;
    color: grey;
    border-radius: 100%;
    padding: 10px;
}

nav a:hover {
    color: #f9f7c9;
}

footer {
    background-color: #88c4c5;
    
    display: flex;
    justify-content: right;
    padding: 10px;
}

footer a {
    font-style: grey;
    font-style: italic;
}

.intro {
    background-color: #aad9bb;
    padding: 10px;
    border-width: 5px;
    border-color: black;
    border-style: double;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: PT Serif;
    color: black;
    font-size: large;
}

.info {
    padding: 10px;
    font-family: Diphylleia;
    color: #d5f0c1;
    font-size: larger;
}

a {
    color: #d5f0c1;
    text-decoration: none;
}

a:hover {
    color: black;
}

hr {
    border-style: groove ;
    border-color: black;
    height: 2px;
}

.img1 {
    position: absolute;
    width: 10%;
    left: 2.5%;
    top: 10%;
    border-color: black;
    border-style: solid;
}

.img2 {
    position: absolute;
    width: 15%;
    right: 2.5%;
    top: 10%;
    border-color: black;
    border-style: solid;
}

.jarenimg {
    width: 10%;
    border-radius: 50%;
}

.cardimages {
    width: 50%;
    padding: 0;
    border-radius: 5%;
}

.card {
    box-shadow: 10px 10px;
    border-radius: 5%;
    background-color: #6da4aa;
    outline: auto;
    outline-style: solid;
    outline-width: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 20px;
    margin: 0 50px;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-color: #d5f0c1;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 50px;
    justify-content: space-evenly;
    width: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10% 25%;
}

.card textarea {
    width: 250px;
}

.input1 {
    width: 265px;
}